/* 
rgb(4, 233, 174)      verde          #04e9ae
rgb(54, 106, 233)     azul           #366ae9
*/ 

:root{
    --verde: #04e9ae;
    --azul:  #366ae9;   
}

/* font-family: 'Poppins', sans-serif; */ 
/* font-family: 'Quicksand', sans-serif; */

@font-face {
  font-family: avantgarde;
  src: url('../_bibliotecas/font-awesome/Fontes/avantgarde-4.ttf') format('opentype');
}

nav li{
    margin-left: 20px;
}