/* 
rgb(4, 233, 174)      verde          #04e9ae
rgb(54, 106, 233)     azul           #366ae9
*/ 

:root{
    --verde: #04e9ae;
    --verde-opacity: rgba(4, 233, 174, 0.8);
    --azul:  #366ae9;   
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    box-shadow: .5px .5px .5px .5px rgba(0, 0, 0, 0.28);    
}

#logo{
    width: 12.0vh;  
    margin-left: -13px;
    margin-top: -25px;
    position: absolute;
    transition-duration: 1s;
/*
    border-bottom-style: solid;
    border-color: var(--verde); 
*/
}

#logo:hover{
    transition-duration: 1s;
    transform:  scale(1.1);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.28);
}


body {
    background-color: var(--verde-opacity);
}

